apiVersion: apps/v1
kind: Deployment

metadata:
  name: time-tracker
  namespace: diplom

spec:
  replicas: 1
  selector:
    matchLabels:
      app: time-tracker
  template:
    metadata:
      labels:
        app: time-tracker
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: time-tracker
          image: IMAGE_PLACEHOLDER
          ports:
            - containerPort: 8080
